replicaCount: 3

image:
  repository: motrabelsi10/joget-v7
  tag: latest
  pullPolicy: Always

mysql:
  host: 10.101.166.55
  database: jwdb
  username: tomcat
  password: tomcat

service:
  type: NodePort
  portHttp: 8080
  portHttps: 9080
  nodePortHttp: 32325

nodeSelector:
  kubernetes.io/hostname: k8s-worker1

ingress:
  enabled: false
  className: nginx
  hosts:
    - host: joget.local
      paths:
        - path: /
          pathType: Prefix
    - host: jogetapp.local
      paths:
        - path: /
          pathType: Prefix
    - host: d60d-165-51-8-92.ngrok-free.app
      paths:
        - path: /
          pathType: Prefix
